body {
    margin: 0;
    font-family: sans-serif;
    background-color: grey;
}

.content {
    margin: 0 auto;
    width: 400px;
    color: white;
}

#update {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: hotpink;
    border-radius: 10px;
    text-align: center;
}

#delete {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    Background-color: red;
    border-radius: 10px;
    text-align: center;
}

.rows {
    height: 100px;
}

#button {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

input {
    padding: 10px 10px;
    border: 2px solid red;
    border-radius: 10px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    text-align: center;
    margin-top: 20px;
}

#content {
    width: 70%;
}
